@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
}

/* header */

.site-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #14213d;
    max-height: 150px;
}

.site-header .logo-wrapper img {
    max-height: 150px;
}

.navigation-wrapper {
    display: flex;
}

.navigation-items {
    display: flex;
    list-style: none;
    margin: 0;
}

.site-navigation {
    height: 100%;
    margin: 0;
}

.navigation-items .navigation-item {
    margin: 15px;
    border-radius: 5px;
    padding: 12px 18px;
}

.navigation-items .navigation-item:nth-child(1) {
    background-color: #E8AA8C;
}

.navigation-items .navigation-item:nth-child(1) a {
    color: white;
}

.navigation-items .navigation-item a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #E8AA8C;
}

.navigation-items .navigation-item:hover {
    background-color: #006d77;
}

.navigation-items .navigation-item:hover a {
    color: white;
}

.navigation-items .navigation-item:nth-child(1):hover {
    background-color: #E8AA8C;
}

/* SignUp/LogIn button */

.user-login-signup {
    margin-left: 40px;
}

@-webkit-keyframes hvr-pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse-shrink {
    to {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.log-in, .sign-up {
    border: 2px solid;
    padding: 12px 18px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: 10px;
    -webkit-font-smoothing: antialiased;
}

.log-in:hover, .sign-up:hover {
    background-color: #006d77;
    cursor: pointer;
    box-sizing: 20px 2px 10px 7px white;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
}

/* Float */

.log-in, .sign-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.log-in:hover, .log-in:focus, .log-in:active, .sign-up:hover, .sign-up:focus, .sign-up:active {
    -webkit-animation-name: hvr-pulse-shrink;
    animation-name: hvr-pulse-shrink;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/* first-empty-space */

.empty-space {
    height: 10px;
    background-color: #E8AA8C;
    margin: 0;
}

/* banner */

.banner {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: url("Resourses/images/banner-4833105.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    margin: 0;
    height: 350px;
}

.banner h1 {
    font-family: 'Uchen', serif;
    color: #003049;
    text-shadow: 1px 1px 5px grey;
    font-size: 30px;
    margin: 0;
    text-transform: uppercase;
}

/* second-empty-space */

/* information */

.information {
    display: flex;
    align-items: center;
    margin: 50px;
    flex-direction: column;
}

/* footer */

.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    padding: 10px 10px 0 10px;
    height: 100%;
    background-color: #14213d;
    color: rgb(148, 143, 143);
}

.page-footer ul {
    margin: 0;
    list-style: none;
}

.page-footer ul li {
    margin: 20px;
}

.page-footer ul a {
    color: rgb(148, 143, 143);
    text-decoration: none;
}

.page-footer .share-via ul {
    display: flex;
}

.page-footer .share-via li a {
    align-self: flex-end;
    font-size: 30px;
}

.page-footer ul a:hover {
    color: white;
}

.page-footer .copyright {
    align-self: center;
}